{% extends "base.html.twig" %}

{% block title %}Even'Annecy{% endblock %}

{% block body %}
    <article id="home" class="container">
        <div id="title-home">
            <h3>Bienvenue dans le site officiel de la grande agence événementielle d'Annecy</h3>
            <button type="button" id="button-home">Démarrer la visite</button>
        </div>
    </article>

    <article id="subscription" class="container">
        <div id="title">
            <h3>Souscrire à un abonnement</h3>
            <p>4 types de Pass'Audito que pour vous !</p>
        </div>
        <div id="pass-subscription" class="div-choices">
            <ul>
                <li><img src="{{asset('assets/img/subcard.png')}}"></li>
                <li><p><b>Individuelle</b></p></li>
                <li><p>Abonnement pour les adultes</p></li>
            </ul>
            <ul>
                <li><img src="{{asset('assets/img/subcard.png')}}"></li>
                <li><b>Couple</b></li>
                <li><p>Abonnement pour un couple</p></li>
            </ul>
            <ul>
                <li><img src="{{asset('assets/img/subcard.png')}}"></li>
                <li><b>Jeune</b></li>
                <ul>
                    <li><p>18 ans et étudiant</p></li>
                    <li><p>26 ans - Adhésion offerte à partir du 2e enfant</p></li>
                    <li><p>Demandeur d'emploi</p></li>
                </ul>
            </ul>
            <ul>
                <li><img src="{{asset('assets/img/subcard.png')}}"></li>
                <li><b>Adhésion parrainée</b></li>
                <li><p>Réservée aux détenteurs des cartes Cézam et Loisirs et aux personnes dont l'entreprise est adhérente à L'Audito</p></li>
            </ul>
        </div>
    </article>
    
    <article id="services" class="container">
        <div id="title">
            <h3>Services</h3>
            <p>Nous vous proposons nos meilleurs services.</p>
        </div>
        <div id="list-services" class="div-choices">
            <ul>
                <li><img src="{{asset('assets/img/seat.png')}}"></li>
                <li><p><b>Réserver une place</b></p></li>
                <li><p>Jamais trop tard pour vivre l'ambiance de nos spectacles</p></li>
            </ul>
            <ul>
                <li><img src="{{asset('assets/img/theater.png')}}"></li>
                <li><p><b>Réserver une salle</b></p></li>
                <li><p>Vous êtes les bienvenus pour organiser tout type d'événement*</p></li>
            </ul>
        </div>
        <div id="info">
            <p>*Ce service n'est pas réservé pour les particuliers.</p>
        </div>
    </article>
{% endblock %}