<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Inscrivez-vous !{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}"/>
        <link rel="stylesheet" href="{{asset('assets/css/sign.css')}}"/>
    {% endblock %}
</head>
<body>
    {% block body %}
    {{ include('includes/header.html.twig') }}
    <article id="connexion" class="container-sign">
        <div id="title">
            <h3>Connectez-vous</h3>
            <p>Heureux de vous revoir parmi nous !</p>
        </div>
        <div id="signin-wrapper" class="connexion-wrapper">
            <div class="connexion-column" id="sigin-column">
                <form action="/logged" method="POST" id="registration_form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <label for="username">Nom d'utilisateur</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" required autofocus>
                    <div>
                        <button type="submit" id="registration_form_Submit" name="registration_form[Submit]" class="save">Se connecter</button>
                    </div>
                </form>
            </div>
            <div id="divider-vertical"></div>
            <div class="connexion-column" id="signup-column">
                <p>Pas encore inscrit ? <b><a href="/register">Inscrivez-vous</a></b> vite !</p>
            </div>
        </div>
    </article>
        {% block javascripts %}
            <script src="{{asset('assets/scripts/sign.js')}}"></script>
        {% endblock %}
    {% endblock %}
</body>
</html>