{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/sign.css')}}"/>
{% endblock %}

{% block body %}
    <article id="connexion" class="container-sign">
        <div id="title">
            <h3>Connectez-vous</h3>
            <p>Heureux de vous revoir parmi nous !</p>
        </div>
        <div id="signin-wrapper" class="connexion-wrapper">
            <div class="connexion-column" id="sigin-column">
                <form method="POST" id="registration_form">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <label for="username">Nom d'utilisateur</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" required autofocus>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div>
                        <button type="submit" id="registration_form_Submit" class="save">Se connecter</button>
                    </div>
                </form>
            </div>
            <div id="divider-vertical"></div>
            <div class="connexion-column" id="signup-column">
                <p>Pas encore inscrit ? <b><a href="{{ url('register') }}">Inscrivez-vous</a></b> vite !</p>
            </div>
        </div>
    </article>
{% endblock %} 