{% extends "base.html.twig" %}

{% block title %}{{ parent() }} Inscription {% endblock %}    

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/sign.css')}}"/>
{% endblock %}

{% block body %}
    <article id="connexion" class="container-sign">
        <div id="title">
            <h3>Inscrivez-vous</h3>
            <p>Faites partie de notre communauté !</p>
        </div>
        <div id="signup-wrapper" class="connexion-wrapper">
            <div class="connexion-column" id="sigin-column">
                {{ form_start(registrationForm, {'attr': {'id': 'registration_form'}}) }}
                {{ form_end(registrationForm) }}
            </div>
            <div id="divider-vertical"></div>
            <div class="connexion-column" id="signup-column">
                <p>Vous avez déjà un compte ? <b><a href="{{ url('app_login') }}">Connectez-vous</a></b> !</p>
            </div>
        </div>
    </article>
{% endblock %}

{% block signJS %}
        <script src="{{asset('assets/scripts/sign.js')}}"></script>
{% endblock %}  